#bar{
    background-color: rgb(106, 187, 190);
    display:flex;
    align-items:center; 
}


#series {
    display: block;
    float: left;
    align-content: left;
    /* border: solid 1px #616161; */
    /* border-collapse: collapse; */
    /* border-spacing: 0; */
    margin-left:5%; 
    margin-right:auto;
}
#series thead th {
    color: #000000;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
    font-style: bold;
}
#series tbody td {
    background-color: #e7e7e7;
    border: solid 2px rgb(206, 206, 206);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}